.games-content {
    max-width: 100%;
    display: grid;
    grid-gap: 4%;
    grid-template-columns: repeat(4, calc(21%));
    grid-template-rows: minmax(150px, 1fr);
    padding: 0 20px;
  }

.App-header {
    padding-bottom: 20px;
    padding-top: 20px;
}

.gamelist {
    background-color: wheat;
}