.volleyball {
    background-image: url(../assets/desc_volleyball_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.basketball {
    background-image: url(../assets/desc_basketball_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.badminton {
    background-image: url(../assets/desc_badminton_bg.png);
}

.botb {
    background-image: url(../assets/desc_botb_bg.png);
}

.mrandmisspisay {
    background-image: url(../assets/desc_mrandmisspisay_bg.png);
}

.trackandfield {
    background-image: url(../assets/desc_trackandfield_bg.png);
}