.Volleyball {
    background-image: url(../assets/desc_volleyball_bg.png);
    background-size: contain;
}

.Basketball {
    background-image: url(../assets/desc_basketball_bg.png);
    background-size: contain;
}

.Badminton {
    background-image: url(../assets/desc_badminton_bg.png);
    background-size: contain;
}