
  .home_container {
    background-image: url(../assets/background.png);
    background-size: contain;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
    align-items: center;
    padding-top: 10%;
  }

  .title_img {
    padding-top: 3%;
    max-width:720px;
    min-width: 300px;
    width: 90%;
  }

  .menu {
    padding-bottom: 1%;
    padding-top: 1%;
  }

  .menu :hover{
    transform: scale(1.015);
  }
  .menu_title {
    padding-top: 5%;
  }
  .menu_img{
    width: 70%;
    max-width:400px;
    min-width: 200px;
  }

  .empire_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 720px;
    width: 100%;
    padding-top: 1.5%;
  }

  .empire_link {
    display: flex;
    flex-direction: column;
    max-width: 120px;
  }

  .empire_link :hover{
    transform: scale(1.015);
  }

  .empire_img{
    max-width: 180px;
    min-width: 120px;
    
  }

  .empire_name {
    font-family: 'Press Start 2P';
    font-weight: bold;
    padding: 10px;
    transition: 0.2s ease color;
    text-transform: uppercase;
    text-align: left;
    background-image: linear-gradient(orange,yellow,rgb(240, 240, 221) ,orange,yellow,orange);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

 