.gamescores_content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-size: cover;
    padding-top: 10%;
    position: absolute;
    overflow-x: hidden;
    align-items: center;
    top: 0;
    
}

.gamescores_box_preheader{
    width: 80%;
    min-width: 100px;
    max-width: 400px;
    border-top: 4px solid white;
}

.gamescores_box_header {
    width: 80%;
    min-width: 100px;
    max-width: 400px;
    max-height: 90px;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-top: 5px solid white;
    border-bottom: 7px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.gamescores_box_header div {
    position: relative;
}

.gamescores_box_footer{
    width: 80%;
    min-width: 100px;
    max-width: 400px;
    border-bottom: 5px solid white;
}


.game_name {
    font-family: 'Press Start 2P';
    font-weight: bold;
    font-size: large;
    transition: 0.2s ease color;
    text-transform: none;
    background-image: linear-gradient(orange, yellow, rgb(240, 240, 221), orange, yellow, orange);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


.rank_container {
    width: 80%;
    min-width: 100px;
    max-width: 400px;
    min-height: 90px;
    display: flex;
    z-index: 2;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 1px solid white;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.medal_img {
    max-width: 40px;
    min-width: 20px;
    padding: 2px;
}

.Ename_img {
    flex-grow: 2;
    width: 100%;
    padding: 2px;
}

.Escore {
    font-family: 'Press Start 2P';
    font-weight: bold;
    font-size: small;
    transition: 0.2s ease color;
    text-transform: none;
    background-image: linear-gradient(orange, yellow, rgb(240, 240, 221), orange, yellow, orange);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    width: min-content;
    line-height: 150%;
    padding: 2px;
}

.body {
    color: black;
}

.tag {
    margin-top: 47%;
    width: 45%;
    background-size: contain;
    background-repeat: no-repeat;
}

.blank {
    width: 0;
    height: 0;
}

.men {
    background-image: url(../assets/men.png);
    
}

.women {
    background-image: url(../assets/women.png);
}

.mixed {
    background-image: url(../assets/mixed.png);
}

._100m {
    background-image: url(../assets/dash_100.png);
}

._400m {
    background-image: url(../assets/dash_400.png);
}

.relay {
    background-image: url(../assets/relay.png);
}

