  nav {
	  flex-direction: row;
    z-index: 999;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  nav a {
	text-align: center;
	text-decoration: none;
	font-family: 'Press Start 2P';
	font-weight: bold;
  padding: 10px 20px;
	transition: 0.2s ease color;
	font-family: 'Press Start 2P';
  text-transform: uppercase;
	background-image: linear-gradient(orange,yellow,rgb(240, 240, 221) ,orange,yellow,orange);
	color: transparent;
    -webkit-background-clip: text;  
    background-clip: text;

  }
  
  nav a:hover {
	transform: scale(1.03);
  }
  
/* The max-width is like the threshold for when this function runs to make the nav bar smaller */
@media (max-width: 450px) {

  nav {
      align-self: center;
      flex-direction: row; 
      align-items: center;
  }

  nav a {
      padding: 10px 20px; 
      font-size: 0.5rem; 
  }
}