  nav {
	z-index: 999;
	position: absolute;
  }

  nav a {
	display: table-cell;
	text-align: center;
	text-decoration: none;
	font-family: 'Press Start 2P';
	font-weight: bold;
	padding: 10px 20px;
	transition: 0.2s ease color;
	font-family: 'Press Start 2P';
  	text-transform: uppercase;
	background-image: linear-gradient(orange,yellow,rgb(240, 240, 221) ,orange,yellow,orange);
	color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

  }
  
  nav a:hover {
	transform: scale(1.03);
  }
  